.app > .tree-wrapper {
    margin-top: 30px;
    font-size: 12px;
}

.tree {
    padding: 0;
    margin: 0;
    list-style: none;
}

.tree > .header {
    display: flex;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}

.tree > .header > .fixed {
    width: 100px;
    margin-right: 10px;
    text-align: right;
}

.tree-node > div {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.tree-node > div:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tree-node > div > div.no-icon {
    padding-left: 18px;
}

.tree-node > div > .column-fixed {
    width: 100px;
    margin-right: 10px;
    flex-shrink: 0;
    text-align: right;
}

.tree-node > div > .func {
    flex-shrink: 0;
}

.tree-node > div > .path {
    flex-shrink: 1;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
}
