@import "node_modules/@blueprintjs/core/dist/variables";

.flame-item {
    cursor: pointer;

    & > rect {
        stroke: $light-gray5;
        stroke-width: 3;
    }

    &:hover > rect {
        //fill: rgba(16, 22, 26, 0.3);
    }
}


.flame-item.selected {
    & > rect {
        fill: #B54E18;
    }

    &:hover > rect {
        fill: #BF5E1D;
    }

    .flame-item_flame-label {
        color: white;
    }
}

.flame-item_flame-label {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}





